{% extends 'Base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    <title>Login to Interact</title>
{% endblock %}


{% block content %}
    <div class='container'>
        <h1 class='text-center'>Login to Interact to Begin</h1>
        <hr>
        <form method='POST'>
            {% csrf_token %}
            {% if form.errors %}
                <div class='alert alert-danger'>
                    {{ form.errors }}
                </div>
            {% endif %}
            
            <div class='form-group'>
                {{ form.username.label_tag }}
                {{ form.username|attr:'class:form-control'|attr:'placeholder:Your Username' }}
            </div>
            <div class='form-group'>
                {{ form.password.label_tag }}
                {{ form.password|attr:'class:form-control'|attr:'placeholder:Your Password'|attr:'type:password' }}
            </div>
            <button class='btn btn-info btn-block' type='submit'>Login</button>
        </form>
    </div>

{% endblock %}